// links
$link-primary: #57748a;
$link-standard: #6f7372;

// Buttons
$btn-primary--bg: #0c8d45;
$btn-primary--txt: #fff;

// Inputs
$inputs-primary--bg : #f8f8f8;

// Footer
$footer-bg-color: #e2e3e7;